.headerContainer {
    display: flex;
    background: linear-gradient(to right, #4834d4, #341f97);
    color: white;
    position: fixed;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 25px;
    z-index: 999;
    padding-top: 10px;
}

.containerIconMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.sideMenuItemsContainer {
    position: fixed;
    margin-top: 90px;
    background: #4834d4;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    z-index: 999;
    display: none;
}

.sideMenuItemsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.sideMenuItems {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}


.sideMenuContainer {
    display: flex;
}

.logoImage {
    height: 50px;
    width: 150px;
    margin: 5px;
}

.sideMenuContainer {
    display: none !important;
}
@media(max-width: 1080px) {
    .sideMenuItemsContainer {
        display: block;
    }
    .headerContainer {
        display: flex;
        background: linear-gradient(to right, #4834d4, #341f97);
        color: white;
        position: fixed;
        width: 100%;
        font-size: 2.5rem;
    }

    .logoImage {
        height: 100px;
        width: 300px;
        margin: 5px;
    }

    .headerItemsContainer {
        display: none !important;
    }
    .sideMenuContainer {
        display: block !important;
    }
}

@media(min-width: 721px) {
    .sideMenuItemsContainer {
        margin-top: 108px;
    }
}

@media(max-width: 720px) {
    .headerContainer {
        display: flex;
        background: linear-gradient(to right, #4834d4, #341f97);
        color: white;
        position: fixed;
        width: 100%;
        font-size: 2.5rem;
    }


    .logoImage {
        height: 80px;
        width: 240px;
        margin: 5px;
    }

}


.headerItemsContainer {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    flex: 1;
    margin-right: 120px;
}  

.headerItemsContainer a {
    padding-left: 25px;
}