.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    background: url(../../../public/banner-bg.png) left center no-repeat;
    background-color: #22195b;
    color: white;
    padding: 30px;
    height: 800px;
    margin-top: -10px;
}



      
.title {
    text-align: center;
    margin-top: 20px;
}

.description {
    text-align: center;
    margin-top: 10px;
}

.descriptionContainer {
    color: black;   
    align-items:inherit;
    flex-direction: column;
    flex: 1;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactButton {
    border: 1px solid transparent;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 24px;
    border-radius: 30px;
    background-color: #fff;
    color: #21146a;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-top: 30px;
    outline: none;

}

.contactButton:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

@media(max-width: 1080px) {
    .container {
        height: 1020px;            
    }

    .contactButton {     
        font-size: 2rem;
        margin-top: 6rem;
    }

    .imageComputer {
        margin-top: 100px;
        width: 100%;
    }
}